{% extends "header.html" %}

{% block content %}

<video width="320" height="240" controls>
    <source id="showvideo" src="" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
  </video>

  <script>
        window.onload = function(){

            // OpenStack Swift로 보냄
            var xhr = new XMLHttpRequest();
            /*
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    alert(xhr.responseText);
                }
            }*/
            xhr.open("GET", "http://121.140.73.126:38080/v1/AUTH_3e2da14f36094bf89e94683138e2da08/Videos/1.%2Introduction%2to%2Superposition.mp4");

            xhr.setRequestHeader("Content-Type", "multipart/form-data");
            xhr.setRequestHeader("X-Auth-Token", "gAAAAABe6v4pkEbAQQYKtBp_INWJQ57TZvfNSA5R-Ja8qlEQ1ncvir7h07aMVEWtTuzSHnc320UtFxjdhzVROmlFxL5kLR0EXG0PdTpZgNGgsYCtlX8Jn6ucDWf3CBJ5jVSsZrUbf03vn4rGtD4ikS7jyTFchMR7XQ-yHQewweVuj-3nAdJEy4w");
            xhr.send();

            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 201) {
                    document.getElementById("showvideo").setAttribute("src", xhr.responseText);
                }
            };
        };
  </script>

{% endblock %}