{% extends "header.html" %}

{% block content %}

<video width="320" height="240" controls>
    <source id="showvideo" src="" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
  </video>

  <img id="image" src="" />

  <script>
        window.onload = function(){

            // OpenStack Swift로 보냄
            var xhr = new XMLHttpRequest();
            /*
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    alert(xhr.responseText);
                }
            }*/
            xhr.open("GET", "http://121.140.73.126:38080/v1/AUTH_3e2da14f36094bf89e94683138e2da08/Videos/flowers.jpg");
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");

            xhr.setRequestHeader("X-Auth-Token", "gAAAAABe8cduQZkGkKPHeVFFzL3hE3PCWcu43fSL5YAhtqtr277XBjveLt2f3PdbV3adoK_7tCnIKC_wU_GTP8X09VoGQ0F2LE8MaimCjWT2EZ4rEdGBkUutpaIS7EQc5y740KeYqW7Q-qfVkIMqpmCYzPfQdQtzA5chBJ_mJT4Yjrpsylg4tEA");
            xhr.send();

            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    text = this.responseText;
                    document.getElementById("image").setAttribute("src", "data:image/jpg;base64," + text.split('\n')[12]);
                }
            };
        };
  </script>

{% endblock %}